.App {
  text-align: center;
  background-image: linear-gradient( 44.8deg,  rgba(255,136,102,0.67) -53.1%, rgba(255,221,136,0.28) 49% );
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title1{
  background-image: linear-gradient(to right,#f8f9fa,#212529);
  width:fit-content;
  width:fit-content;
  background-clip: text;
  font-family:fantasy;
  -webkit-background-clip: text;
  color:transparent;
  font-weight: bold;
}
.background{
  background-color: antiquewhite;
  background-image: url("./image/background2.jpg");
}
.background2{
  opacity:80%;
  background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
  border-radius: 20px;
}
.title2{
  color: black;
}
.apple{
  width: 300px;
  height: 300px;
}
.button1{
  background-color:#758bfd;
  color:white;
  font-family:fantasy;
  border-radius: 12px;
}
.button1:hover{
  background-color: #e1ee72;
  color:black;
}
.text1{
  font-family: fantasy;
  font-weight: bold;
}
.background3{
  background-image: linear-gradient( 358.4deg,  rgba(249,151,119,1) -2.1%, rgba(98,58,162,1) 90% );
  border-radius: 20px;
  color: #f8f9fa;
}
.inputWithin {
  position: relative;
  display: inline-block;
}
.upload_img{
  display:block; margin:auto;
}
.Pngtree{
  width: 100px;
  transform: rotate(45deg);
  position:absolute;
  right: 100px;
  top: 30px;
}