.App {
  text-align: center;
  background-image: linear-gradient( 44.8deg,  rgba(255,136,102,0.67) -53.1%, rgba(255,221,136,0.28) 49% );
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title1{
  background-image: linear-gradient(to right,#27187e,#ffba08);
  width:fit-content;
  width:fit-content;
  background-clip: text;
  font-family:fantasy;
  -webkit-background-clip: text;
  color:transparent;
  font-weight: bold;
}
.background{

  background-color: antiquewhite;
  background-image: url("./image/background3.jpg");
}
.background4{
  background-color: antiquewhite;
  background-image: url("./image/background4.jpg");
}
.background5{
  background-color: antiquewhite;
  background-image: url("./image/background6.jpg");
}
.background2{

  opacity:70%;
  background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
  border-radius: 20px;
}
.title2{
  color: black;
}
.apple{
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
.button1{
  background-color:#758bfd;
  color:white;
  font-family:fantasy;
  border-radius: 12px;
  width: 116px;
  height: 46px;
}
.button1:hover{
  background-color: #e1ee72;
  color:black;
  border-style: inset;
}
.text1{
  font-family: fantasy;
  font-weight: bold;
  text-decoration: none;
}
.background3{
  background-image: linear-gradient( 358.4deg,  rgba(249,151,119,1) -2.1%, rgba(98,58,162,1) 90% );
  border-radius: 20px;
  color: #000000;
  border-radius: 20px;
  border-style: inset;
  border-width: 2em;
}
.background6{
  background-image: radial-gradient( circle 489px at 49.3% 46.6%,  rgba(255,214,126,1) 0%, rgba(253,200,0,1) 100.2% );
  border-radius: 20px;
  border-style: inset;
  border-width: 2em;
}
.background7{
  background-image: url("./image/background7.jpg");
}
.inputWithin {
  position: relative;
  display: inline-block;
}
.upload_img{
  display:block; margin:auto;
}
.Pngtree{
  width: 100px;
  transform: rotate(45deg);
  position:absolute;
  right: 100px;
  top: 30px;
}

.btn-87,
.btn-87 *,
.btn-87 :after,
.btn-87 :before,
.btn-87:after,
.btn-87:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-87 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #000000;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
  Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-87:disabled {
  cursor: default;
}
.btn-87:-moz-focusring {
  outline: auto;
}
.btn-87 svg {
  display: block;
  vertical-align: middle;
}
.btn-87 [hidden] {
  display: none;
}
.btn-87 {
  background: none;
  border-radius: 999px;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  font-size: 20px;
  font-weight: 900;
  height: 110px;
  position: relative;
  text-transform: uppercase;
  width: 150px;
}
.btn-87 span {
  mix-blend-mode: difference;
}
.btn-87:before {
  background: #fff;
  border-radius: 50%;
  content: "";
  inset: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 0.2s linear;
  z-index: -1;
}
.btn-87:hover:before {
  opacity: 1;
  transition: opacity 0.2s linear 0.2s;
}
.btn-87 svg {
  fill: none;
  stroke: currentcolor;
  stroke-width: 4px;
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  height: 105%;
  left: -5px;
  pointer-events: none;
  position: absolute;
  top: -5px;
  transition: stroke-dashoffset 0.4s ease-in-out;
  width: 105%;
}
.btn-87 circle {
  cx: 52%;
  cy: 52%;
  r: 45%;
}
.btn-87:hover svg {
  stroke-dashoffset: 120;
  transition: stroke-dashoffset 1s ease-in-out;
}

.p {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 3.5em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #b8f2e6, #aed9e0, #5e6472);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.btn-59,
.btn-59 *,
.btn-59 :after,
.btn-59 :before,
.btn-59:after,
.btn-59:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-59 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
  Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-59:disabled {
  cursor: default;
}
.btn-59:-moz-focusring {
  outline: auto;
}
.btn-59 svg {
  display: block;
  vertical-align: middle;
}
.btn-59 [hidden] {
  display: none;
}
.btn-59 {
  background: none;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  padding: 1.5rem 4rem;
  position: relative;
  text-transform: uppercase;
}
.btn-59 span {
  background: #fff;
  border: 1px solid;
  border-radius: 999px;
  display: grid;
  inset: 0;
  place-items: center;
  pointer-events: none;
  position: absolute;
}
.btn-59:hover span {
  -webkit-animation: tada 0.8s;
  animation: tada 0.8s;
}
@-webkit-keyframes tada {
  0% {
    transform: scaleX(1);
  }
  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes tada {
  0% {
    transform: scaleX(1);
  }
  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
  }
  to {
    transform: scaleX(1);
  }
}

.Recipes_photo{
  width: 200px;
  border-radius: 20px;
}

.btn-54,
.btn-54 *,
.btn-54 :after,
.btn-54 :before,
.btn-54:after,
.btn-54:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-54 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
  Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000000, #ffffff);
  padding: 0;
}
.btn-54:disabled {
  cursor: default;
}
.btn-54:-moz-focusring {
  outline: auto;
}
.btn-54 svg {
  display: block;
  vertical-align: middle;
}
.btn-54 [hidden] {
  display: none;
}
.btn-54 {
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  padding: 1.8rem 5rem;
  position: relative;
  text-transform: uppercase;
  background: none;
}
.btn-54 .content,
.btn-54 .depth,
.btn-54 .shadow {
  transition: transform 0.2s;
}
.btn-54 .content {
  background: #fff;
  color: #000;
  display: grid;
  height: 84%;
  left: 0;
  place-items: center;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-54 .depth {
  background: #ccc;
  height: 10%;
  top: 84%;
}
.btn-54 .depth,
.btn-54 .shadow {
  display: block;
  left: 0;
  position: absolute;
  width: 100%;
}
.btn-54 .shadow {
  background: #777;
  height: 6%;
  top: 94%;
}
.btn-54:hover .content {
  transform: translateY(4%);
}
.btn-54:hover .shadow {
  transform: translateY(-20%);
}
.btn-54:active .content {
  transform: translateY(8%);
}
.btn-54:active .shadow {
  transform: translateY(-30%);
}

.btn-76,
.btn-76 *,
.btn-76 :after,
.btn-76 :before,
.btn-76:after,
.btn-76:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-76 {
  /*position: absolute;*/
  /*left:250px;*/
  width: 150px;
  height: 50px;
  border-radius: 20px;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
  Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  /*-webkit-mask-image: -webkit-radial-gradient(#000, #fff);*/
  padding: 0;
}
.btn-76:disabled {
  cursor: default;
}
.btn-76:-moz-focusring {
  outline: auto;
}
.btn-76 svg {
  display: block;
  vertical-align: middle;
}
.btn-76 [hidden] {
  display: none;
}
.btn-76 {
  --neon: #0ea5e9;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  outline: 4px solid #fff;
  outline-offset: -4px;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
  transition: 0.2s linear 0.1s;
}
.btn-76:hover {
  background: var(--neon);
  box-shadow: 0 0 5px var(--neon), 0 0 25px var(--neon), 0 0 50px var(--neon),
  0 0 100px var(--neon);
  color: #fff;
  outline-color: transparent;
  transition: 0.2s linear 0.6s;
}
.btn-76 span {
  display: block;
  inset: 0;
  position: absolute;
}
.btn-76 .top {
  border-top: 4px solid var(--neon);
  opacity: 0;
  transform: translateX(calc(-100% + var(--progress, 0%)));
  transition: none;
}
.btn-76:hover .top {
  --progress: 100%;
  opacity: 1;
  transition: transform 0.2s linear;
}
.btn-76 .right {
  border-right: 4px solid var(--neon);
  opacity: 0;
  transform: translateY(calc(-100% + var(--progress, 0%)));
  transition: none;
}
.btn-76:hover .right {
  --progress: 100%;
  opacity: 1;
  transition: transform 0.2s linear 0.2s;
}
.btn-76 .bottom {
  border-bottom: 4px solid var(--neon);
  opacity: 0;
  transform: translateX(calc(100% - var(--progress, 0%)));
  transition: none;
}
.btn-76:hover .bottom {
  --progress: 100%;
  opacity: 1;
  transition: transform 0.2s linear 0.4s;
}
.btn-76 .left {
  border-left: 4px solid var(--neon);
  opacity: 0;
  transform: translateY(calc(100% - var(--progress, 0%)));
  transition: none;
}
.btn-76:hover .left {
  --progress: 100%;
  opacity: 1;
  transition: transform 0.2s linear 0.6s;
}

.btn-26,
.btn-26 *,
.btn-26 :after,
.btn-26 :before,
.btn-26:after,
.btn-26:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-26 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
  Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-26:disabled {
  cursor: default;
}
.btn-26:-moz-focusring {
  outline: auto;
}
.btn-26 svg {
  display: block;
  vertical-align: middle;
}
.btn-26 [hidden] {
  display: none;
}
.btn-26 {
  background: none;
  -webkit-mask-image: none;
  padding: 1rem 3rem;
  position: relative;
}
.btn-26 span {
  mix-blend-mode: difference;
}
.btn-26:after,
.btn-26:before {
  --progress: 0%;
  background: #fff;
  -webkit-clip-path: polygon(
          0 50%,
          var(--progress) 0,
          100% 0,
          calc(100% - var(--progress)) 50%,
          100% 100%,
          var(--progress) 100%
  );
  clip-path: polygon(
          0 50%,
          var(--progress) 0,
          100% 0,
          calc(100% - var(--progress)) 50%,
          100% 100%,
          var(--progress) 100%
  );
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: height 0.4s, transform 0.4s, -webkit-clip-path 0.4s 0.1s;
  transition: height 0.4s, transform 0.4s, clip-path 0.4s 0.1s;
  transition: height 0.4s, transform 0.4s, clip-path 0.4s 0.1s,
  -webkit-clip-path 0.4s 0.1s;
  width: 100%;
  z-index: -1;
}
.btn-26:after {
  transform: rotate(180deg) translateY(50%);
}
.btn-26:hover:before {
  --progress: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(35%);
}
.btn-26:hover:after {
  --progress: 50%;
  top: 50%;
  transform: rotate(180deg) translateY(50%) translateX(35%);
}

.Modal_color{

  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );
}
.Modal_outside{
  backdrop-filter: blur(10px);
}
